<nav class="h-[10%] w-full bg-red-300 flex items-center justify-center gap-5 fixed absolute top-0 left-0">
    <a href="/">HOME</a>
    <a href="/about">ABOUT</a>
    <a href="/registration">REGISTRATION</a>
    <a href="/login">LOGIN</a>
</nav>